<p id="notice"><%= notice %></p>

<h1><%= @article.title %> Versions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @articles %>
  </tbody>
</table>
